*{
    font-size: 20px;
    margin: 0;
    box-sizing: 0;
    padding: 0;   
    font-family: 'Noto Sans', sans-serif; 
}
body{
    background-color:#ececec;
}
.navbar .logo{
    padding-left: 50px;
    font-size: 20px;
}
.navbar .os ul a{
    text-decoration: none;
    color: rgb(247, 252, 252);
    font-weight: 700;
}
.navbar .os ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 10px;
    padding-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
.navbar .os ul button{
    background-color: #fb2056;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    width: 150px;
    height: 50px;
    margin-top: -30px;
}
.background3{
    background-image:url("img/bg.avif");
    background-position: center;
    height: 576px;
    background-size: cover;
    width: 100%;
    position: relative;
    /* z-index: 0; */
}
.overlay{
     position: absolute; 
  
  width: 100%; 
  height:  576px; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 1;
  inset: 0;
}
.navbar,.hero{
    position: relative;
    z-index: 2;
    color: white;
}
ul{
    list-style: none;
}
.background3 .hero{
    text-align: center;
    padding: 120px;
}
.purple{
    background-color: black;
    padding: 50px;
    padding-top: 60px;
    text-align: center;
    color: white;
    line-height: 50px;
}
.purple h1{
    font-size: 50px;
}
.purple h5{
    font-size: 30px;
}
.packages{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.LP{
    border-radius: 10px;
    text-align: center;
    width: 285px;
    background-color: white;
    overflow: hidden;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}
.LP:hover{
    transform: scale(1.05);
}
a{
    text-decoration: none;
    color: white;
}
button{
    background-color:red;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
button:hover{
    transform: scale(1.30);
}
.rt{
    margin: 30px;
}
.hr{
    text-align: left;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid red;
    width: 50px;
}
h2,h1{
    padding: 7px;
}
h1{
    font-size: 40px;
}
.p{
    padding:20px;
}
.blackbox p a, .blackbox p{
    text-decoration: none;
    color: white;
    font-size: 20px; 
}
.blackbox{
    background-color: black;
    padding: 8%;
    text-align: center;
    /* font-size: 16px; */
    height: 20%;
}
