*{
    font-size: 20px;
    margin: 0;
    box-sizing: 0;
    padding: 0;   
    font-family: 'Noto Sans', sans-serif; 
}
body{
    background-color:#ececec;
}
.navbar .logo{
    padding-left: 50px;
    font-size: 20px;
}
.navbar .os ul a{
    text-decoration: none;
    color: rgb(247, 252, 252);
    font-weight: 700;
}
.navbar .os ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 10px;
    padding-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
.navbar .os ul button{
    background-color: #fb2056;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    width: 150px;
    height: 50px;
    margin-top: -30px;
}
.background3{
    background-image:url("img/bg.avif");
    background-position: center;
    height: 576px;
    background-size: cover;
    width: 100%;
    position: relative;
    /* z-index: 0; */
}
.overlay{
     position: absolute; 
  
  width: 100%; 
  height:  576px; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 1;
  inset: 0;
}
.navbar,.hero{
    position: relative;
    z-index: 2;
    color: white;
}
ul{
    list-style: none;
}
.background3 .hero{
    text-align: center;
    padding: 120px;
}
.purple{
    background-color: black;
    padding: 50px;
    padding-top: 60px;
    text-align: center;
    color: white;
    line-height: 50px;
}
.purple h1{
    font-size: 50px;
}
.purple h5{
    font-size: 30px;
}
.rt{
    margin: 30px;
}
.hr{
    text-align: left;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid red;
    width: 50px;
}
h2,h1{
    padding: 7px;
}
h1{
    font-size: 40px;
}
.blackbox p a, .blackbox p{
    text-decoration: none;
    color: white;
    font-size: 20px; 
}
.blackbox{
    background-color: black;
    padding: 8%;
    text-align: center;
    height: 20%;
}
.booking {
  width: 380px;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
  display: none;
  position: relative;
}
.booking a{
    text-decoration: none;
    color: #ececec;
}

.booking.show {
  display: block;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: red;
}

.booking input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
}

.confirm-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: red;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.main {
  max-width: 1100px;
  margin: 60px auto;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 285px;
  text-align: center;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}
h3{
    padding-bottom: 3px;
    font-size: 25px;
}
.p{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: none;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.price {
  font-weight: bold;
  font-size: 40px;
  padding-bottom:10px ;
}

.book-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.book-btn:hover{
    transform:scale(1.30)
}
.booking {
  display: none;
  margin-top: 40px;
  margin: 40px auto;
  background: #fff;
  border-radius: 20px;
  padding: 50px;
  max-width: 450px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
  position: relative;
}

.booking.show {
  display: block;
}

.booking input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
}

.confirm-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: red;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: red;
}