*{
    font-size: 20px;
    margin: 0;
    box-sizing: 0;
    padding: 0;   
    font-family: 'Noto Sans', sans-serif; 
}
@media screen and(max-width:1134){
    .background1{
        width: 100%;
    }    
}
h1{
    margin: 0;
    font-size: 64px;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
}
.h2 h2{
    padding: 40px;
    padding-bottom: 15px;
    font-size: 40px;
    
}
h3{
    font-size: 24px;
    font-family:Montserrat, sans-serif ;
    padding-bottom: 8px;
}
ul{
    list-style: none;
}
.navbar .logo{
    padding-left: 50px;
    font-size: 20px;
}
.navbar .os ul a{
    text-decoration: none;
    color: rgb(247, 252, 252);
    font-weight: 700;
}
.navbar .os ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 10px;
    padding-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
.navbar .os ul button{
    background-color: #fb2056;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    width: 150px;
    height: 50px;
    margin-top: -30px;
}
.background1{
    background-image:url("img/hero-bg.jpg");
    background-position: center;
    height: 576px;
    background-size: cover;
    width: 100%;
    position: relative;
    /* z-index:     7; */
}
.overlay{
     position: absolute; 
  
  width: 100%; 
  height:  576px; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 1;
}
.navbar,.hero{
    position: relative;
    z-index: 2;
    color: white;
}
/* hr{
    color: red;
    width: 40px;
    background-color: red;
} */
  /* .hero span{
    width: 50px ;
    display: block;
    background: red; 
    border-bottom:2px solid red ;
    margin-top: -30px;
}   */
.hero button{
    background-color: #fb2056;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    width: 150px;
    margin-top: 18px;
    height: 50px;
    font-weight: 700;
}
.hero button a{
    text-decoration: none;
    color: white;
}
.background1 .hero{
    color: white;
    /* padding-left: 500px; */
    text-align: center;
    margin-top: 5%;
}
.background1 .hero span{
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    border: 1px solid red;
    width: 50px;
    margin-left: 48%;
}
.navbar .os ul .button{
    margin-top: 2px;
}
.outdiv{
    background-color: #ececec;
    height: 40%;
    color: #404040;
    font-size: 12px;
    font-weight: 100;
}
.outdiv .comma img{
    width: 100px;
}
.outdiv{
    display: flex;
    padding: 50px;
    text-align: center;
    gap: 100px;
}
.outdiv .nocomma h5{
    padding-top: 29px;
}
.mimg{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    gap: 200px;
}
.s img, .m img{
    border-radius: 10px;
    box-shadow: 10px 10px 0px 0px rgb(212, 206, 206);
}
.s,.m{
    width: 30%;
    text-align: center;
}
.s h2,.m h2,.s button, .m button{
    margin: 27px 0px 10px;
}
.s button a, .m button a{
    text-decoration: none;
    color: white;
}
.s button, .m button{
    background-color: #fb2056;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    width: 150px;
    margin-top: 18px;
    height: 50px;
    font-weight: 700;
}
.sectionimg{
    width: 100%;

    position: sticky;
    top: 0;
    z-index: -3;
    
}
.sectionimg img{
    width: 100%;
    
    
    /* height: 1000px; */
}
.hr{
    text-align: left;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content{
    color: white;
    position: absolute;
    /* width: 40%; */
    z-index: 1;
    top: 150px;
    padding-left: 50%;
    padding-right: 50px;
    height: 1000px;
}
.parent{
    position: relative;
}
.content button a, .whitebox .block1 button a{
    text-decoration: none;
    color: white;
}
.content button, .whitebox .block1 button{
    background-color: #fb2056;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    width: 150px;
    margin-top: 18px;
    height: 50px;
    font-weight: 700;
}
.block1{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.block1 p{
    font-size: 21px;
}
.whitebox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#ececec;
    padding: 50px;
}
.blackbox p a, .blackbox p{
    text-decoration: none;
    color: white;
    font-size: 20px; 
}
.blackbox{
    background-color: black;
    padding: 8%;
    text-align: center;
    /* font-size: 16px; */
    height: 20%;
}